# 01 Importing Libraries

In [4]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02 Importing Dataframes

In [6]:
# Importing customer dataframe
path = r'C:\Users\vacgo\Documents\Achievement 6'
berlin_crime = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'berlin-crime-2013-2022_fixed.csv'), index_col = False)
berlin_pop_dist = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'berlin population 1991-2023.csv'), index_col = False)
berlin_pop_gender = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'berlin population gender nationality 1991-2023.csv'), index_col = False)
berlin_pop_mig = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'berlin migration background 1991-2023.csv'), index_col = False)

# 03 Check Dataframes

In [8]:
# Check dtypes and column names
berlin_crime.dtypes

key                                          int64
neighborhood                                object
district                                    object
year                                         int64
crimes_total                                 int64
robbery                                      int64
street_handbag_roberry                       int64
physical_injuries_total                      int64
dangerous_serious_bodily_harm                int64
dep_of_liberty_coercion_threats_stalking     int64
theft_total                                  int64
theft_of_motor_vehicles                      int64
theft_parts_motor_vehicles                   int64
bike_theft                                   int64
res_burglarly                                int64
arson_offense_total                          int64
arson                                        int64
prop_damage_total                            int64
prop_damage_graffiti                         int64
drugs                                        int64
neighborhood_offence                         int64
dtype: object

In [9]:
# Change dtypes
berlin_crime = berlin_crime.astype({'key': 'str'})

In [10]:
berlin_crime.dtypes

key                                         object
neighborhood                                object
district                                    object
year                                         int64
crimes_total                                 int64
robbery                                      int64
street_handbag_roberry                       int64
physical_injuries_total                      int64
dangerous_serious_bodily_harm                int64
dep_of_liberty_coercion_threats_stalking     int64
theft_total                                  int64
theft_of_motor_vehicles                      int64
theft_parts_motor_vehicles                   int64
bike_theft                                   int64
res_burglarly                                int64
arson_offense_total                          int64
arson                                        int64
prop_damage_total                            int64
prop_damage_graffiti                         int64
drugs                                        int64
neighborhood_offence                         int64
dtype: object

In [11]:
berlin_crime.head()

,key,neighborhood,district,year,crimes_total,robbery,street_handbag_roberry,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,...,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
0,10000,Mitte,Mitte-Total,2013,25303,319,167,2187,572,650,...,186,1383,1032,436,95,35,1672,405,834,4746
1,11001,Tiergarten Sued,Mitte,2013,36863,557,366,3522,1106,801,...,99,2501,984,473,99,30,1677,152,732,6511
2,11002,Regierungsviertel,Mitte,2013,75823,472,204,5213,1384,1330,...,193,3014,2349,354,43,11,3701,1620,622,8903
3,11003,Alexanderplatz,Mitte,2013,36892,382,228,2773,724,631,...,160,1378,1673,583,81,35,2416,888,1007,5739
4,11004,Brunnenstrasse Sued,Mitte,2013,16464,120,34,812,184,237,...,372,861,1294,515,23,11,1429,632,259,3618

In [12]:
# correct spelling for column street_handbag_roberry
berlin_crime = berlin_crime.rename(columns={'street_handbag_roberry': 'street_handbag_robbery'})

In [13]:
berlin_crime.head()

,key,neighborhood,district,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,...,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
0,10000,Mitte,Mitte-Total,2013,25303,319,167,2187,572,650,...,186,1383,1032,436,95,35,1672,405,834,4746
1,11001,Tiergarten Sued,Mitte,2013,36863,557,366,3522,1106,801,...,99,2501,984,473,99,30,1677,152,732,6511
2,11002,Regierungsviertel,Mitte,2013,75823,472,204,5213,1384,1330,...,193,3014,2349,354,43,11,3701,1620,622,8903
3,11003,Alexanderplatz,Mitte,2013,36892,382,228,2773,724,631,...,160,1378,1673,583,81,35,2416,888,1007,5739
4,11004,Brunnenstrasse Sued,Mitte,2013,16464,120,34,812,184,237,...,372,861,1294,515,23,11,1429,632,259,3618

In [14]:
berlin_pop_dist.dtypes

Bezirke       object
Year           int64
Population     int64
dtype: object

In [15]:
berlin_pop_dist.head()

  Bezirke  Year  Population
0   Mitte  1991      341178
1   Mitte  1992      344622
2   Mitte  1993      344585
3   Mitte  1994      340777
4   Mitte  1995      338770

In [16]:
berlin_pop_dist['Bezirke'].unique()

array(['Mitte', 'Friedrichshain-Kreuzberg', 'Pankow',
       'Charlottenburg-Wilmersdorf', 'Spandau', 'Steglitz-Zehlendorf',
       'Tempelhof-Schoeneberg', 'Neukoelln', 'Treptow-Koepenick',
       'Marzahn-Hellersdorf', 'Lichtenberg', 'Reinickendorf', 'Berlin'],
      dtype=object)

In [17]:
berlin_pop_gender.dtypes

Gender_Nationality    object
Year                   int64
Population             int64
dtype: object

In [18]:
berlin_pop_gender.head()

  Gender_Nationality  Year  Population
0              Total  1991     3443575
1              Total  1992     3456891
2              Total  1993     3461421
3              Total  1994     3452284
4              Total  1995     3446039

In [19]:
berlin_pop_gender['Gender_Nationality'].unique()

array(['Total', 'Male', 'Female', 'German', 'Foreigner'], dtype=object)

In [20]:
berlin_pop_mig.dtypes

Migration_background     object
Year                      int64
Population              float64
dtype: object

In [21]:
berlin_pop_mig['Migration_background'].unique()

array(['Total population', 'Germans without migration background',
       'Germans with migration background', 'Foreigners'], dtype=object)

In [22]:
# Check for null values
berlin_crime.isnull().sum()

key                                         0
neighborhood                                0
district                                    0
year                                        0
crimes_total                                0
robbery                                     0
street_handbag_robbery                      0
physical_injuries_total                     0
dangerous_serious_bodily_harm               0
dep_of_liberty_coercion_threats_stalking    0
theft_total                                 0
theft_of_motor_vehicles                     0
theft_parts_motor_vehicles                  0
bike_theft                                  0
res_burglarly                               0
arson_offense_total                         0
arson                                       0
prop_damage_total                           0
prop_damage_graffiti                        0
drugs                                       0
neighborhood_offence                        0
dtype: int64

In [23]:
berlin_pop_dist.isnull().sum()

Bezirke       0
Year          0
Population    0
dtype: int64

In [24]:
berlin_pop_gender.isnull().sum()

Gender_Nationality    0
Year                  0
Population            0
dtype: int64

In [25]:
berlin_pop_mig.isnull().sum()

Migration_background     0
Year                     0
Population              32
dtype: int64

In [26]:
# Create dataframe with NaN values
null_val = berlin_pop_mig[berlin_pop_mig['Population'].isnull() == True]
null_val

                    Migration_background  Year  Population
33  Germans without migration background  1991         NaN
34  Germans without migration background  1992         NaN
35  Germans without migration background  1993         NaN
36  Germans without migration background  1994         NaN
37  Germans without migration background  1995         NaN
38  Germans without migration background  1996         NaN
39  Germans without migration background  1997         NaN
40  Germans without migration background  1998         NaN
41  Germans without migration background  1999         NaN
42  Germans without migration background  2000         NaN
43  Germans without migration background  2001         NaN
44  Germans without migration background  2002         NaN
45  Germans without migration background  2003         NaN
46  Germans without migration background  2004         NaN
47  Germans without migration background  2005         NaN
48  Germans without migration background  2006         NaN
66     Germans with migration background  1991         NaN
67     Germans with migration background  1992         NaN
68     Germans with migration background  1993         NaN
69     Germans with migration background  1994         NaN
70     Germans with migration background  1995         NaN
71     Germans with migration background  1996         NaN
72     Germans with migration background  1997         NaN
73     Germans with migration background  1998         NaN
74     Germans with migration background  1999         NaN
75     Germans with migration background  2000         NaN
76     Germans with migration background  2001         NaN
77     Germans with migration background  2002         NaN
78     Germans with migration background  2003         NaN
79     Germans with migration background  2004         NaN
80     Germans with migration background  2005         NaN
81     Germans with migration background  2006         NaN

### We don't do anything about this since the year is outside the study range (2013-2022)

# 04 Create subsets

In [29]:
# Create two subsets for crime rate where the District Total is separate from the rest of the data

# Subset with rows containing '-Total'
district_crime = berlin_crime[berlin_crime['district'].str.contains('-Total', na=False)]

# Subset with rows without '-Total'
neighborhood_crime = berlin_crime[~berlin_crime['district'].str.contains('-Total', na=False)]

# Subset for whole berlin
berlin_crime_subset = berlin_crime[berlin_crime['district'].str.contains('Berlin', na=False)]

In [30]:
berlin_crime_subset.head()

,key,neighborhood,district,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,...,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
1550,999999,Berlin,Berlin,2013,14419,183,94,1228,304,438,...,196,1058,779,340,75,29,1277,284,392,3004
1551,999999,Berlin,Berlin,2014,15383,169,98,1208,295,428,...,198,1081,912,361,70,27,1272,274,399,2977
1552,999999,Berlin,Berlin,2015,15926,159,87,1195,295,409,...,197,1031,947,347,62,25,1232,291,463,3013
1553,999999,Berlin,Berlin,2016,15573,141,83,1173,286,393,...,201,954,942,315,70,28,1206,287,407,2814
1554,999999,Berlin,Berlin,2017,14108,115,64,1159,291,384,...,181,888,822,233,60,24,1133,296,436,2614

In [31]:
district_crime.head()

,key,neighborhood,district,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,...,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
0,10000,Mitte,Mitte-Total,2013,25303,319,167,2187,572,650,...,186,1383,1032,436,95,35,1672,405,834,4746
11,20000,Friedrichshain-Kreuzberg,Friedrichshain-Kreuzberg-Total,2013,19413,334,229,1767,530,431,...,222,972,1296,402,98,33,1878,431,882,4163
20,30000,Pankow,Pankow-Total,2013,10458,89,39,747,169,281,...,231,840,1125,265,62,30,1096,288,144,2241
37,40000,Charlottenburg-Wilmersdorf,Charlottenburg-Wilmersdorf-Total,2013,16061,199,80,1246,327,470,...,224,1461,927,518,46,20,1172,277,368,3140
49,50000,Spandau,Spandau-Total,2013,12527,131,62,1255,294,480,...,135,735,429,266,78,20,1301,214,235,3281

In [32]:
neighborhood_crime.head()

,key,neighborhood,district,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,...,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
1,11001,Tiergarten Sued,Mitte,2013,36863,557,366,3522,1106,801,...,99,2501,984,473,99,30,1677,152,732,6511
2,11002,Regierungsviertel,Mitte,2013,75823,472,204,5213,1384,1330,...,193,3014,2349,354,43,11,3701,1620,622,8903
3,11003,Alexanderplatz,Mitte,2013,36892,382,228,2773,724,631,...,160,1378,1673,583,81,35,2416,888,1007,5739
4,11004,Brunnenstrasse Sued,Mitte,2013,16464,120,34,812,184,237,...,372,861,1294,515,23,11,1429,632,259,3618
5,12005,Moabit West,Mitte,2013,15223,205,98,1349,357,541,...,166,980,766,324,103,28,1169,208,460,3030

In [33]:
# Remove '-Total' in the district column for the kiez subset
district_crime.loc[:, 'district'] = district_crime['district'].str.replace('-Total', '', regex=False)

In [34]:
district_crime.tail(20)

,key,neighborhood,district,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,...,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
1289,50000,Spandau,Spandau,2021,10138,83,46,1047,246,522,...,115,836,288,137,86,40,979,106,268,2511
1299,60000,Steglitz-Zehlendorf,Steglitz-Zehlendorf,2021,7804,50,26,617,129,308,...,115,515,467,184,49,19,888,215,172,1679
1308,70000,Tempelhof-Schoeneberg,Tempelhof-Schoeneberg,2021,10030,77,40,828,181,385,...,124,770,582,113,51,17,1003,224,362,2341
1324,80000,Neukoelln,Neukoelln,2021,12336,121,66,1146,355,495,...,128,1367,615,149,86,36,1221,162,656,2953
1337,90000,Treptow-Koepenick,Treptow-Koepenick,2021,8798,59,34,818,187,397,...,123,547,752,132,56,22,1050,241,232,2021
1358,100000,Marzahn-Hellersdorf,Marzahn-Hellersdorf,2021,8152,85,61,972,207,431,...,125,586,297,86,62,19,1042,171,177,2195
1368,110000,Lichtenberg,Lichtenberg,2021,9046,75,47,961,220,390,...,140,650,505,88,79,31,1120,243,238,2213
1382,120000,Reinickendorf,Reinickendorf,2021,9125,81,43,930,228,453,...,77,613,342,110,66,24,892,129,268,2168
1395,10000,Mitte,Mitte,2022,20718,210,128,1969,599,790,...,105,1042,1180,148,100,29,1574,305,847,4556
1406,20000,Friedrichshain-Kreuzberg,Friedrichshain-Kreuzberg,2022,18841,320,229,1690,596,534,...,102,1009,1407,112,111,32,1728,362,1576,4395
1415,30000,Pankow,Pankow,2022,9592,110,84,828,239,355,...,134,613,986,150,66,21,1040,247,179,2211
1432,40000,Charlottenburg-Wilmersdorf,Charlottenburg-Wilmersdorf,2022,14395,123,74,1088,266,606,...,185,1180,841,217,73,23,1168,242,393,3031
1444,50000,Spandau,Spandau,2022,10470,108,68,1146,269,562,...,142,943,345,188,106,48,972,112,222,2811
1454,60000,Steglitz-Zehlendorf,Steglitz-Zehlendorf,2022,7652,54,34,623,112,332,...,161,506,548,213,51,19,861,189,148,1762
1463,70000,Tempelhof-Schoeneberg,Tempelhof-Schoeneberg,2022,11176,94,65,1015,214,498,...,147,787,713,130,55,15,1052,211,307,2843
1479,80000,Neukoelln,Neukoelln,2022,13005,150,85,1286,368,532,...,153,1350,655,157,102,39,1136,122,604,3003
1492,90000,Treptow-Koepenick,Treptow-Koepenick,2022,9437,86,55,905,224,441,...,161,671,674,151,73,29,1123,237,221,2279
1513,100000,Marzahn-Hellersdorf,Marzahn-Hellersdorf,2022,9316,93,61,1092,232,465,...,156,766,390,150,88,25,1028,164,154,2607
1523,110000,Lichtenberg,Lichtenberg,2022,9789,97,70,1006,241,400,...,180,755,514,155,81,26,1036,227,183,2498
1537,120000,Reinickendorf,Reinickendorf,2022,10191,85,52,1029,254,546,...,124,709,399,169,76,29,864,101,241,2478

In [35]:
# Filter for Male and Female Population within the 2013-2022
gender_pop = berlin_pop_gender[
    (berlin_pop_gender['Gender_Nationality'].isin(['Male', 'Female'])) &
    (berlin_pop_gender['Year'].between(2013, 2022))
]

In [36]:
gender_pop.head(20)

   Gender_Nationality  Year  Population
55               Male  2013     1725465
56               Male  2014     1750121
57               Male  2015     1779319
58               Male  2016     1813879
59               Male  2017     1836008
60               Male  2018     1855248
61               Male  2019     1865443
62               Male  2020     1866235
63               Male  2021     1868158
64               Male  2022     1902048
88             Female  2013     1791959
89             Female  2014     1812045
90             Female  2015     1830837
91             Female  2016     1856743
92             Female  2017     1875922
93             Female  2018     1892900
94             Female  2019     1904052
95             Female  2020     1903727
96             Female  2021     1907322
97             Female  2022     1948761

In [37]:
# Filter for German and Foreigner Population within 2013-2022
nationality_pop = berlin_pop_gender[
    (berlin_pop_gender['Gender_Nationality'].isin(['German', 'Foreigner'])) &
    (berlin_pop_gender['Year'].between(2013, 2022))
]

In [38]:
nationality_pop.head(20)

    Gender_Nationality  Year  Population
121             German  2013     2978695
122             German  2014     2988824
123             German  2015     2989081
124             German  2016     2993881
125             German  2017     3000648
126             German  2018     2999676
127             German  2019     2992150
128             German  2020     2980886
129             German  2021     2964146
130             German  2022     2950665
154          Foreigner  2013      538729
155          Foreigner  2014      573342
156          Foreigner  2015      621075
157          Foreigner  2016      676741
158          Foreigner  2017      711282
159          Foreigner  2018      748472
160          Foreigner  2019      777345
161          Foreigner  2020      789076
162          Foreigner  2021      811334
163          Foreigner  2022      900144

In [39]:
migration_pop = berlin_pop_mig[
    (berlin_pop_mig['Migration_background'].isin(['Germans without migration background','Germans with migration background', 'Foreigners'])) &
    (berlin_pop_mig['Year'].between(2013, 2022))
]

In [40]:
migration_pop.head(20)

                    Migration_background  Year  Population
55  Germans without migration background  2013   2518076.0
56  Germans without migration background  2014   2544567.0
57  Germans without migration background  2015   2532065.0
58  Germans without migration background  2016   2518890.0
59  Germans without migration background  2017   2504878.0
60  Germans without migration background  2018   2471178.0
61  Germans without migration background  2019   2449175.0
62  Germans without migration background  2020   2425350.0
63  Germans without migration background  2021   2394174.0
64  Germans without migration background  2022   2363896.0
88     Germans with migration background  2013    460619.0
89     Germans with migration background  2014    444257.0
90     Germans with migration background  2015    457016.0
91     Germans with migration background  2016    474991.0
92     Germans with migration background  2017    495770.0
93     Germans with migration background  2018    528498.0
94     Germans with migration background  2019    542975.0
95     Germans with migration background  2020    555536.0
96     Germans with migration background  2021    569972.0
97     Germans with migration background  2022    586769.0

In [41]:
# Change dtypes
migration_pop = migration_pop.astype({'Population': 'int'})

In [42]:
migration_pop.head()

                    Migration_background  Year  Population
55  Germans without migration background  2013     2518076
56  Germans without migration background  2014     2544567
57  Germans without migration background  2015     2532065
58  Germans without migration background  2016     2518890
59  Germans without migration background  2017     2504878

In [43]:
# Filter for District Population within 2013-2022
district_pop = berlin_pop_dist[(berlin_pop_dist['Year'].between(2013, 2022))]

In [44]:
district_pop.head(20)

                     Bezirke  Year  Population
22                     Mitte  2013      348102
23                     Mitte  2014      356506
24                     Mitte  2015      363236
25                     Mitte  2016      371407
26                     Mitte  2017      377965
27                     Mitte  2018      383457
28                     Mitte  2019      385748
29                     Mitte  2020      383360
30                     Mitte  2021      385692
31                     Mitte  2022      395599
55  Friedrichshain-Kreuzberg  2013      273517
56  Friedrichshain-Kreuzberg  2014      275691
57  Friedrichshain-Kreuzberg  2015      278393
58  Friedrichshain-Kreuzberg  2016      281323
59  Friedrichshain-Kreuzberg  2017      283974
60  Friedrichshain-Kreuzberg  2018      289120
61  Friedrichshain-Kreuzberg  2019      290386
62  Friedrichshain-Kreuzberg  2020      289787
63  Friedrichshain-Kreuzberg  2021      289014
64  Friedrichshain-Kreuzberg  2022      293231

# 05 Subset Summary

### Summary of subsets after filtering and cleaning

####Per District or Neighborhood
'district_crime' #crime rate per 100,000 per district from 2013 to 2022
'neighborhood_crime' #crime rate per 100,000 per neighborhood from 2013 to 2022
'district_pop' #population of each district from 2013 to 2022

####For whole Berlin
'berlin_crime_subset' #crime rate per 100,000 for whole berlin from 2013 to 2022
'gender_pop' #Population of Male and Female for whole Berlin from 2013 to 2022
'nationality_pop' #Population of Germans and Foreigners for whole Berlin from 2013 to 2022
'migration_pop' #Population of people with or without migrations background for whole Berlin from 2013 to 2022

# 06 Describe dataset

In [47]:
district_crime.describe()

,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,theft_total,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,2017.500000,12670.875000,129.316667,74.758333,1122.816667,280.441667,402.316667,5740.191667,163.091667,862.175000,771.433333,241.633333,69.175000,26.758333,1139.808333,244.308333,428.900000,2708.041667
std,2.884324,4804.453413,72.822679,46.485020,372.434800,131.659402,103.732282,2289.717932,47.665500,240.075046,326.229226,98.487292,18.277811,7.264505,267.591790,89.964867,426.748315,785.143357
min,2013.000000,7414.000000,45.000000,21.000000,529.000000,102.000000,239.000000,3013.000000,77.000000,469.000000,288.000000,86.000000,29.000000,11.000000,798.000000,97.000000,119.000000,1388.000000
25%,2015.000000,9415.750000,81.750000,44.750000,897.750000,202.000000,321.250000,4167.250000,127.750000,685.000000,514.750000,163.500000,55.000000,21.000000,974.750000,183.750000,180.500000,2168.000000
50%,2017.500000,10943.500000,102.000000,59.500000,1091.000000,243.000000,402.000000,5019.500000,154.500000,831.000000,713.500000,220.500000,66.500000,26.000000,1050.000000,224.000000,268.000000,2493.500000
75%,2020.000000,14188.750000,151.500000,86.250000,1223.250000,314.750000,452.250000,6460.250000,195.000000,992.250000,977.750000,296.750000,79.250000,31.000000,1175.750000,288.250000,397.500000,3067.750000
max,2022.000000,27498.000000,371.000000,237.000000,2187.000000,605.000000,790.000000,13252.000000,287.000000,1461.000000,1653.000000,540.000000,126.000000,48.000000,1957.000000,503.000000,2067.000000,4746.000000

In [48]:
neighborhood_crime.describe()

,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,theft_total,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
count,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000
mean,2017.500000,12176.302083,113.961111,63.717361,1055.936111,260.236806,381.372222,5501.853472,157.018750,810.419444,742.950694,241.281250,66.530556,26.455556,1110.220833,254.245833,372.624306,2555.722222
std,2.873279,8567.467724,101.691237,66.753464,592.570509,187.284947,172.533464,4142.567659,77.721776,391.322919,496.340305,143.799478,38.970300,19.526201,475.303465,227.323807,576.800807,1240.143933
min,2013.000000,2957.000000,0.000000,0.000000,169.000000,0.000000,68.000000,832.000000,0.000000,58.000000,57.000000,0.000000,0.000000,0.000000,294.000000,0.000000,0.000000,383.000000
25%,2015.000000,7405.000000,52.000000,25.000000,636.750000,130.000000,258.750000,3188.750000,103.000000,535.750000,358.750000,141.750000,42.000000,14.000000,776.000000,110.000000,108.000000,1659.750000
50%,2017.500000,10172.000000,85.000000,46.000000,952.500000,212.000000,355.000000,4572.500000,142.000000,745.500000,610.000000,213.000000,59.000000,23.000000,1043.000000,197.500000,185.000000,2413.500000
75%,2020.000000,14502.250000,139.000000,77.000000,1313.250000,331.500000,477.250000,6651.750000,193.000000,1001.250000,1028.250000,308.000000,83.000000,34.000000,1317.250000,319.250000,357.000000,3127.000000
max,2022.000000,114281.000000,844.000000,613.000000,5230.000000,1384.000000,2100.000000,59761.000000,560.000000,3014.000000,3839.000000,1319.000000,511.000000,266.000000,3798.000000,2418.000000,7074.000000,9302.000000

In [49]:
district_pop.describe()

              Year    Population
count   130.000000  1.300000e+02
mean   2017.500000  5.690183e+05
std       2.883393  9.085584e+05
min    2013.000000  2.268680e+05
25%    2015.000000  2.689980e+05
50%    2017.500000  3.076060e+05
75%    2020.000000  3.493390e+05
max    2022.000000  3.850809e+06

In [50]:
berlin_crime_subset.describe()

,year,crimes_total,robbery,street_handbag_robbery,physical_injuries_total,dangerous_serious_bodily_harm,dep_of_liberty_coercion_threats_stalking,theft_total,theft_of_motor_vehicles,theft_parts_motor_vehicles,bike_theft,res_burglarly,arson_offense_total,arson,prop_damage_total,prop_damage_graffiti,drugs,neighborhood_offence
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2017.50000,14262.600000,135.600000,78.100000,1164.000000,292.800000,430.300000,6229.00000,165.600000,895.200000,814.100000,249.200000,69.700000,27.100000,1200.000000,271.900000,456.800000,2822.900000
std,3.02765,1039.388838,26.310961,12.956766,49.175423,9.319037,47.234757,1013.76504,33.757962,133.283157,92.407852,84.116057,6.464433,2.078995,58.889727,21.475826,52.376415,155.516666
min,2013.00000,12802.000000,108.000000,64.000000,1044.000000,276.000000,384.000000,4765.00000,113.000000,700.000000,675.000000,132.000000,60.000000,24.000000,1094.000000,230.000000,392.000000,2614.000000
25%,2015.25000,13619.500000,115.250000,66.500000,1158.250000,290.000000,397.750000,5535.50000,147.750000,795.000000,756.750000,191.750000,64.750000,25.500000,1170.750000,258.250000,414.250000,2683.000000
50%,2017.50000,13924.000000,125.000000,77.000000,1163.000000,291.000000,418.500000,6007.00000,167.500000,881.500000,795.500000,222.500000,70.000000,28.000000,1204.000000,279.000000,454.500000,2810.000000
75%,2019.75000,15142.000000,154.500000,86.750000,1189.500000,295.000000,436.500000,7065.50000,196.750000,1011.750000,889.500000,333.750000,73.000000,28.000000,1238.750000,286.750000,491.000000,2970.750000
max,2022.00000,15926.000000,183.000000,98.000000,1228.000000,310.000000,541.000000,7846.00000,201.000000,1081.000000,947.000000,361.000000,81.000000,30.000000,1277.000000,296.000000,556.000000,3013.000000

In [51]:
gender_pop.describe()

              Year    Population
count    20.000000  2.000000e+01
mean   2017.500000  1.849310e+06
std       2.946898  5.718024e+04
min    2013.000000  1.725465e+06
25%    2015.000000  1.813420e+06
50%    2017.500000  1.861093e+06
75%    2020.000000  1.895187e+06
max    2022.000000  1.948761e+06

In [52]:
nationality_pop.describe()

              Year    Population
count    20.000000  2.000000e+01
mean   2017.500000  1.849310e+06
std       2.946898  1.166689e+06
min    2013.000000  5.387290e+05
25%    2015.000000  7.391745e+05
50%    2017.500000  1.925404e+06
75%    2020.000000  2.988888e+06
max    2022.000000  3.000648e+06

In [53]:
migration_pop.describe()

              Year    Population
count    30.000000  3.000000e+01
mean   2017.500000  1.232873e+06
std       2.921384  8.986645e+05
min    2013.000000  4.442570e+05
25%    2015.000000  5.461152e+05
50%    2017.500000  7.298770e+05
75%    2020.000000  2.417556e+06
max    2022.000000  2.544567e+06

# 07 Export new dataset

In [55]:
# Exporting the dataframe to pickle
district_crime.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'district_crime.pkl'))
neighborhood_crime.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'neighborhood_crime.pkl'))
district_pop.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'district_pop.pkl'))
berlin_crime_subset.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'berlin_crime.pkl'))
gender_pop.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'gender_pop.pkl'))
nationality_pop.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'nationality_pop.pkl'))
migration_pop.to_pickle(os.path.join(path, '02 Data', 'Cleaned Data', 'migration_pop.pkl'))